body, section {
  width: 400px;
  max-width: 400px;
  height: 500px;
  max-height: 500px;
  overflow-x: hidden;
  padding: 20px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

span {
  text-align: center;
  margin: auto;
}

.base_url_input {
  padding-left: 10px;
}

.correct_url {
  border: 2px solid rgba(186, 218, 85, 1);
  box-shadow: 0 0 5px rgba(186, 218, 85, 1);
}

.incorrect_url {
  border: 2px solid rgba(255, 105, 97, 1);
  box-shadow: 0 0 5px rgba(255, 105, 97, 1);
}

.warning_message_incorrect_url {
  font-color: rgba(255, 105, 97, 1);
}

.warning_message_correct_url {
  font-color: rgba(186, 218, 85, 1);
}

::placeholder {
  color: light-grey;
  opacity: 0.3;
}

h3 {
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}

.owner {
  text-align: right;
  display: block;
  padding-bottom: 40px;
}

small {
  font-size: 12px;
}

.base_url {
  font-size: 15px;
}

.raven-activation-ui {
  height: 80%;
}

#current_page_base_url {
  width: 220px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  margin-bottom: 0rem;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: #ff6961;
  display: block;
  border-radius: 30px;
  position: relative;
  transition: all .2s ease-in;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

label:hover:after {
  width: 25px;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

.preload {
  transition: 0s;
}

.preload:after {
  transition: 0s;
}

.preload:active:after {
  transition: 0s;
}

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  text-decoration:none;
  color: black;  
  padding: 3px 0;
}

.refresh_button:focus{
  outline: none;
}

.refresh_button{
  transition: 0.4s;
}

.refresh_button:hover .fa-spin-hover{
  animation: fa-spin 2s infinite linear;
}

.refresh_button:hover {
  color: blue;
  transition: 0.4s;
}

// Using flexbox
.bottom {
  // TODO Need to fix this one by making good flexbox css
  margin-top: 210px;

  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .raven_parameters {
    cursor: pointer;
  }

  .support_us_button {
    text-align: center;
    margin-left:auto;
    margin-right:30px;
    width: 100px;
  }

  .raven_bug {
    i {
      color: white;
    }
    cursor: pointer;
  }
}


@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}