body, section {
  width: 400px;
  max-width: 400px;
  height: 500px;
  max-height: 500px;
  overflow-x: hidden;
  padding: 20px;
  font-size: 15px;
}

span{
  text-align: center;
  margin: auto;
}


h3 {
  text-align: center;
  padding-bottom: 30px;
}

small {
  font-size: 12px;
}

.base_url {
  font-size: 15px;
}

.raven-activation-ui {
  height: 80%;
}

.raven-parameters {
  float: right;
  padding-bottom: 10px;
  cursor: pointer;
}

.raven-twitter {
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

#current_page_base_url {
  width: 220px;
  display: block;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section { padding: 5px;}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  margin-bottom: 0rem;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: #ff6961;
  display: block;
  border-radius: 30px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

.button_hb{
  border-color: #448AFF;
  color: #448AFF;
}

.button_hb:before{
  background-color: #448AFF;
}

.button{
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  width: 60px;
  height: 30px;
}

.button_hb{
  padding: 0px 10px;
  text-transform: uppercase;
  color: var(--uiButtonBgColorHover);
  
  border-width: 2px;
  border-style: solid;
  border-color: var(--uiButtonBgColorHover);
  border-radius: 10px;

}

.button_hb{
  --uiButtonBgColorHover: var(--buttondBgColorHover);
  --uiButtonTextColorHover: var(--buttonTextColorHover);
  
  position: relative;
  overflow: hidden;
  transition: color .5s ease-out;
}

.button_hb:before{
  content: "";
  background-color: var(--uiButtonBgColorHover);
}

.button_hb:focus{
  outline: none;
}

.button_hb:hover, .button_hb:focus{
  color: var(--uiButtonTextColorHover);
}

.button_hb .button__icon, .button_hb:not(.button_hidden-text) .button__label{
  position: relative;
  z-index: 2;
}

.button_hb-type5:before{
  width: 0;
  height: 110%;
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;

  will-change: opacity, width;
  transition-property: opacity, width;
  transition-duration: 2s, 2s;
  transition-delay: 1s, 0s;
  transition-timing-function: cubic-bezier(0, 0, 0.11, 1.24);
}

.button_hb-type5:hover:before, .button_hb-type5:focus:before{
  opacity: 1;
  width: 110%;
  transition-duration: 1s, 2s;
  transition-delay: 0s;
}

.button_hb{
  --buttonTextColor: #448AFF;
  --buttondBgColorHover: #448AFF;
  --buttonTextColorHover: #FFF;
}

.button_hb:nth-child(5){
  --buttonTextColor: #673ab7;
  --buttondBgColorHover: #673ab7;
}